# Node
node_modules/
npm-debug.log

# WhatsApp Auth (CRÍTICO: não partilhar sessões)
bot/.wwebjs_auth/

# Ambiente e Segredos
.env

# Docker logs
*.log

#Base de dados
postgres_data/

# Build e cache
dist/
build/
.cache/

# Docker
docker-compose.override.yml

# Editor/IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db